Repository IQA-App/backend-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gbaranov, @Rom-T, @Keldieva, @LMalushkina, @Yuriy-SE, @OlgaAutomation4, @Elgrueber, @sashakolsky

try to fix yml
  .github/workflows/main_backappqa.yml
  .gitignore
Owners: @sashakolsky, @OlgaAutomation4

try to fix yml (#35)
  .github/workflows/main_backappqa.yml
  .gitignore
Owners: @sashakolsky, @OlgaAutomation4

add jwt_secret to dockerfile
  Dockerfile
Owners: @OlgaAutomation4

Fix docker file (#36)
  Dockerfile
Owners: @OlgaAutomation4

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

dock
  Dockerfile
Owners: @OlgaAutomation4

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

dock (#37)
  Dockerfile
Owners: @OlgaAutomation4

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update Dockerfile
  Dockerfile
Owners: @OlgaAutomation4

API_Guards_2
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

Api guards 2 (#38)
  src/category/category.controller.ts
  src/guard/author.category-guard.ts
  src/guard/author.transaction-guard.ts
  src/transaction/dto/base-transaction.dto.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

API_Decimal_Transactions
  src/transaction/entities/transaction.entity.ts
Owners: @OlgaAutomation4

API_Decimal_Transactions (#39)
  src/transaction/entities/transaction.entity.ts
Owners: @OlgaAutomation4

API_Fix_Transactions_FindAll
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

API_Fix_Transactions_FindAll (#40)
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

fixed chart data, added typecasting
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

fixed chart data, added typecasting (#41)
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

trancate decimals, save amount in dollars
  src/transaction/dto/base-transaction.dto.ts
  src/transaction/entities/transaction.entity.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

trancate decimals, save amount in dollars (#42)
  src/transaction/dto/base-transaction.dto.ts
  src/transaction/entities/transaction.entity.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

API_69_Email_Pass_improve
  .gitignore
  src/user/dto/base-use.dto.ts
  src/user/dto/update-user.dto.ts
  src/user/user.controller.ts
  src/user/validators/password-validation.ts
Owners: @OlgaAutomation4

removed console.log
  src/user/user.controller.ts
Owners: @OlgaAutomation4

Api 69 email pass improve (#43)
  .gitignore
  src/user/dto/base-use.dto.ts
  src/user/dto/update-user.dto.ts
  src/user/user.controller.ts
  src/user/validators/password-validation.ts
Owners: @OlgaAutomation4

.github/CODEOWNERS:

# Codeowners to all the files
* @gbaranov
* @Rom-T
* @Keldieva
* @LMalushkina
* @Yuriy-SE
* @OlgaAutomation4

# Codeowners to all the workflows
.github/ @Elgrueber
.github/ @Rom-T
.github/ @sashakolsky
