Repository IQA-App/backend-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gbaranov, @Rom-T, @Keldieva, @LMalushkina, @Yuriy-SE, @OlgaAutomation4, @Elgrueber, @sashakolsky

.github/CODEOWNERS:

# Codeowners to all the files
* @gbaranov
* @Rom-T
* @Keldieva
* @LMalushkina
* @Yuriy-SE
* @OlgaAutomation4

# Codeowners to all the workflows
.github/ @Elgrueber
.github/ @Rom-T
.github/ @sashakolsky

API_Fix_Transaction
  README.md
  src/app.module.ts
  src/transaction/entities/transaction.entity.ts
Owners: @OlgaAutomation4

add checking of backend by test framework
  .github/workflows/main_backappqa.yml
Owners: @sashakolsky

API_Guards
  src/guard/author.guard.ts
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

API_Transaction_Fix_2 onDelete> null
  src/transaction/entities/transaction.entity.ts
Owners: @OlgaAutomation4

minor ib transaction
  src/transaction/entities/transaction.entity.ts
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

change title in transaction
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

src/transaction/transaction.controller.ts
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

changes in title transaction
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

API_Transaction_Fix_2 onDelete> null (#19)
  src/transaction/entities/transaction.entity.ts
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

validations in transactions
  src/guard/author.guard.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

AuthorGuard in transactions and categories validations
  src/category/category.controller.ts
  src/category/category.module.ts
  src/category/category.service.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.module.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

validations in transactions
  src/guard/author.guard.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

AuthorGuard in transactions and categories validations
  src/category/category.controller.ts
  src/category/category.module.ts
  src/category/category.service.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.module.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

API_Guards
  src/guard/author.guard.ts
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

add env + remove cd
  .github/workflows/main_backappqa.yml
Owners: @sashakolsky

add env + remove cd (#23)
  .github/workflows/main_backappqa.yml
Owners: @sashakolsky

just checking
  src/app.controller.ts
Owners: @OlgaAutomation4

just checking (#24)
  src/app.controller.ts
Owners: @OlgaAutomation4

checking_2
  .github/workflows/main_backappqa.yml
  src/app.controller.ts
Owners: @sashakolsky, @OlgaAutomation4

new checking 3
  src/transaction/transaction.module.ts
Owners: @OlgaAutomation4

new checking 3 (#26)
  src/transaction/transaction.module.ts
Owners: @OlgaAutomation4

fix job
  .github/workflows/main_backappqa.yml
Owners: @sashakolsky

fix token
  .github/workflows/main_backappqa.yml
Owners: @sashakolsky

check how yml works
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

check how yml works (#29)
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

Update main_backappqa.yml
  .github/workflows/main_backappqa.yml
Owners: @sashakolsky

some changes to check
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

Check one more for test deploy (#31)
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

API_Swagger_Improvements
  src/category/category.controller.ts
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

API_Swagger_Improvements (#32)
  src/category/category.controller.ts
  src/transaction/transaction.controller.ts
Owners: @OlgaAutomation4

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @sashakolsky

API_Guards_1
  src/category/category.controller.ts
  src/guard/author.category-guard.ts
  src/guard/author.transaction-guard.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

fix trsnsaction lenght and title
  src/transaction/dto/base-transaction.dto.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

Api guards 1 (#33)
  src/category/category.controller.ts
  src/guard/author.category-guard.ts
  src/guard/author.transaction-guard.ts
  src/transaction/dto/base-transaction.dto.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

Revert "Api guards 1 (#33)"
  src/category/category.controller.ts
  src/guard/author.category-guard.ts
  src/guard/author.transaction-guard.ts
  src/transaction/dto/base-transaction.dto.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4

Revert "Api guards 1 (#33)" (#34)
  src/category/category.controller.ts
  src/guard/author.category-guard.ts
  src/guard/author.transaction-guard.ts
  src/transaction/dto/base-transaction.dto.ts
  src/transaction/transaction.controller.ts
  src/transaction/transaction.service.ts
Owners: @OlgaAutomation4
